/*!
 * CSS for Contact.html page
 */

@media print { .navbar 
    { 
        display: none; 
    } 
    body { 
        background: #fff; 
    } 
    #form {
    position: fixed;
    top: 15%;
    left:70%;
    width:35%;
    padding-left: 0%;
    }
} 

/* Main container font style */
body, h1, h6, h1{
font-family:Lucida Sans Unicode;
}

/* These set the main container of the contact page cursor */
HTML,BODY, #pics a:hover,#bottom a:hover, .fancybox-title a:hover, .fancybox-outer a:hover  {cursor: url(../../img/butterfly.png), progress !important;}

/* Message form style */
#form {
    position: fixed;
    top: 15%;
    left:55%;
    width:35%;
    padding-left: 6%;
}

/* Send button positioning */
.btn {
 position: fixed;
 left: 73%;
 top: 83%; 
}

/* Sent message response positioning */
.response {
    position: fixed;
    top: 20%;
    left:55%;
    width:35%;
    padding-left: 6%;
}

/* Header positioning */
#contactheader {
    
    margin: 0;
    padding-left: 15%;
    overflow: hidden;
}
#contactheader ul {
    list-style-type: none;
  padding: 0;
}

#contactheader ul li {
    float: left;
    padding-left: 19%;
}

/* Dania's side picture positioning */
#sidepic {
    position: fixed;
    left:2%;
    top: 10%;
    
}

/* Social Media font caption color */
h6 {
    color: #E5E5E5;
    font-size: 0.8em;
    font-weight: 900;
}

/* Social Media container positioning */
.center-block {
    position: fixed;
    top: 20%;
    padding-top: 1%;
    padding-left: -4px;
    padding-right: 10px;
    width: 22%;
    height: 45%;
    left: 29%;
    background-color: #2C2C2C;
    border-radius: 30px 30px 30px 30px;
}

.center-block ul {
   list-style-type:none;
}

.center-block ul li {
    padding-top: 15px;
    padding-bottom: 15%;
    text-decoration:none;
}

/* Breadcrumb style */
.breadcrumb {
    background-color: #333;
    position: fixed;
    width: 17%;
    top: 89.7%;
    left: 0%;
    height: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index:1;
}

/* Navbar and Dropdown menu style */
.dropdown-menu {
    background-color: black;
    z-index: 0;
}

.dropdown-menu > div {
    float: left;
    padding: 10px;
    background: #777;
    width: 150px;
    height: 100px;
    margin: 8px;
    box-shadow: 1px 2px #334;
    -webkit-transition: 0.5s;
}
/* fade ALL out on parent hover */
.dropdown-menu:hover > div {
    opacity: 0.6;
}
/* fade ONE in on hover */

.dropdown > div:hover {
    opacity: 1;
}

#subnav li a {
    color: #777;
    font-weight:bold;
    z-index: 1;
}

.navbar {
    margin-top: -20px;
}

.navbar-nav {
  z-index: 1;
}

.nav-tabs {
    position: fixed;
    bottom: 0px;
    left: 0
}