/*!
 * CSS for gallery.html, atr.html, photo.html and song.html page
 */
HTML,
BODY,
.container,
#pics a:hover,
#bottom a:hover,
.fancybox-title a:hover,
.fancybox-outer a:hover {
    cursor: url(../../img/butterfly.png), progress !important;
}
.fancybox-tupe-image {
    background-color: black;
}
.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}
.fancybox-title-over-wrap > div {
    padding: 10px;
}
.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle;
}
/*GROW*/

#pics {
    position: absolute;
    top: 0%;
    margin-bottom: -10.5%;
}
.grow img {
    overflow: hidden;
    height: 300px;
    width: 300px;
    margin-left: 20%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}
.grow img:hover {
    width: 400px;
    height: 400px;
    z-index: -1;
}
.grow {
    width: 20%;
    height: 200px;
    float: left;
}

.container {
    clear: both;
    overflow:hidden;
    position:relative;
    left: -5%;
    width: 105%;
    height:275%;

}

.breadcrumb {
    background-color: #333;
    position: fixed;
    width: 17%;
    top: 89.7%;
    left: 0%;
    height: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    z-index:1;
}
